.header{
    color:blue;
    text-align:center;
    font-weight: lighter;
}
.bold{
    font-weight:900;
}
body, html {
    background: url("img.jpg") no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

